<ul class="errors">
  <% @book.errors.messages.each do |column, message| %>
    <li>
      <strong><%= column.capitalize %></strong> <%= message %>
    </li>
  <% end %>
</ul>
<%= render partial: "form",
      locals: { action_name: 'Create a book',
                 button_title: 'Create' } %>
