

<!-- <%# name = 'bob' %>
<ul>
<%# 5.times do |i| %>
  <li> <%#= "#{name} is number #{i}".upcase %>  </li>
<%# end %>
</ul> -->


<h1>These are the books!</h1>
<% @books.each do |book| %>
  <h2><%= link_to "This IS: #{book.title}", book_path(book.id) %>
  </h2>
</a>
  <p> by <%= book.author.name %></p>
  <%= link_to "Delete", book_path(book.id), method: :delete %>
<% end %>
