

<!-- <%# name = 'bob' %>
<ul>
<%# 5.times do |i| %>
  <li> <%#= "#{name} is number #{i}".upcase %>  </li>
<%# end %>
</ul> -->

<h1>These are the books!</h1>
<% @books.each do |book| %>
  <a href="/books/<%= book[:id] %>"><h2>
    <%= book[:title] %>
  </h2>
</a>
  <p> by <%= book[:author] %></p>
<% end %>
